<%~
await includeAsync('src/templates/partials/header.html', {
    title: 'Impressum &ndash; Die-Lage.at',
    description: 'Die-Lage.at - Impressum und Datenschutzerklärung',
    renderNav: true,
    includeFonts: false,
    includeScripts: false,
})
%>

<article>
    <h1>Impressum und Datenschutzerklärung</h1>

    <h3>Verantwortlicher für den Inhalt dieser Website</h3>
    <p>
        René Hickersberger<br>
        Ort: Wien, Österreich<br>
        Kontakt: <a href="mailto:admin@die-lage.at">admin@die-lage.at</a>
    </p>

    <h3>Haftungsausschluss</h3>
    <p>
        Die Inhalte dieser Webseite wurden mit größter Sorgfalt erstellt, dennoch kann nicht ausgeschlossen werden, dass Fehler auftreten.
        Es wird keine Haftung für die Richtigkeit, Vollständigkeit oder Aktualität der Informationen übernommen, ebenso wenig wie für die Fehlerfreiheit der auf der Webseite angebotenen Tools oder die Ausgaben, die bei deren Verwendung entstehen.
        Die Nutzung dieser Webseite erfolgt daher auf eigene Gefahr.
    </p>
    <p>
        Des Weiteren kann diese Webseite Links zu externen Webseiten Dritter enthalten, auf deren Inhalte kein Einfluss genommen werden kann.
        Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seite verantwortlich.
        Zum Zeitpunkt der Verlinkung wurden die verlinkten Seiten auf mögliche Rechtsverletzungen geprüft und es waren keine rechtswidrigen Inhalte erkennbar.
        Jedoch kann eine permanente Überwachung der verlinkten Seiten nicht gewährleistet werden. Bei Bekanntwerden von Rechtsverletzungen auf verlinkten Webseiten werden diese Links umgehend entfernt.
    </p>

    <h3>Datenschutzerklärung</h3>

    <h4>Erhebung serverseitiger Logdaten</h4>
    <p>
        Beim Zugriff auf diese Webseite werden automatisch Informationen durch den Webserver protokolliert.
        Diese Daten umfassen
        <ul>
            <li>die URL der aufgerufenen Seite,</li>
            <li>die URL der Webseite, von der aus Sie unsere Seite besuchen (Referrer-Header),</li>
            <li>den verwendeten Browser und das Betriebssystem inkl. Versionen (User-Agent-Header),</li>
            <li>sowie Ihre IP-Adresse.</li>
        </ul>
    </p>
    <p>
        Diese Daten werden ausschließlich zur Fehleranalyse und zu statistischen Zwecken verwendet.
        Eine Zuordnung dieser Daten zu einer bestimmten Person ist nicht möglich.
    </p>

    <h4>Verwendung von Cookies</h4>
    <p>
        Es werden keine Tracking-Cookies oder andere Technologien zur Nutzeranalyse eingesetzt.
        Cookies und andere client-seitige Speichermechanismen werden nur zur Speicherung von Einstellungen und anderen technisch notwendigen Informationen verwendet.
    </p>

    <h4>Externe Links</h4>
    <p>
        Diese Webseite kann Links zu externen Webseiten Dritter enthalten.
        Auf die Datenschutzpraktiken dieser Webseiten kann kein Einfluss genommen werden.
        Bitte informieren Sie sich auf den jeweiligen Webseiten über deren Datenschutzrichtlinien.
    </p>

    <h4>Änderungen dieser Datenschutzerklärung</h4>
    <p>
        Das Recht wird vorbehalten, diese Datenschutzerklärung anzupassen, um sie an geänderte rechtliche Anforderungen oder technische Änderungen anzupassen.
        Die aktuelle Version ist stets auf der Webseite verfügbar.
    </p>
</article>

<%~
include('src/templates/partials/footer.html', {
    renderFooter: true,
})
%>

